@model Hello
<h1>Checking out a ton of actions!</h1>

<p>
    Action Count <strong>@Model.MyProperty</strong>
    <button @onclick(Model.IncrementCount)>OnClick</button>
    <button @ondblclick(Model.IncrementCount)>OnDoubleClick</button>
    <button @onmouseover(Model.IncrementCount)>OnMouseOver</button>
    <button @onkeydown(Model.IncrementCount)>OnKeyDown</button>
</p>
