@using System.Reflection
@section Scripts {
    <br />
    <h6>This is from RenderSection. </h6>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}

<h1>Hello, world!</h1>
<p>Welcome to your new single-page application.</p>

<button @onclick(() => NavigationHelper("/Counter"))>Navigate to Counter</button>
<button @onclick(() => Console.WriteLine(Browser.jQuery.now()))>Log jquery time</button>

@{
    Context.Items["hello"] = "This shows BlazorContext is persistent across pages.";

    var typeInfo = typeof(ClientServerApp.Client.Hello);
    <h2>@typeInfo.Name attributes</h2>
    <ul>
        @foreach (var prop in typeInfo.GetRuntimeProperties())
        {
        <li>
            <p>@prop.Name</p>
            <ul>
                @foreach (var attribute in prop.GetCustomAttributes())
                {
                    <li>@attribute.GetType().Name</li>
                }
            </ul>
        </li>
        }
    </ul>
}
