@page
@model IndexModel
@{
ViewData["Title"] = "Home Page";
}

@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
        @Model.Message
    </div>
}

<div class="agenda">
    <h1>NDC Oslo 2017</h1>

    <ul class="nav nav-pills">
        @foreach (var day in Model.DayOffsets)
        {
            <li role="presentation" class="@(Model.CurrentDayOffset == day.Offset ? "active" : null)">
                <a asp-route-day="@day.Offset">@day.DayofWeek?.ToString()</a>
            </li>
        }
    </ul>

    @foreach (var timeSlot in Model.Sessions)
    {
        <h4>@timeSlot.Key?.ToString("HH:mm")</h4>
        <div class="row">
            @foreach (var session in timeSlot)
            {
                <div class="col-md-3">
                    <div class="panel panel-default session">
                        <div class="panel-body">
                            <p>@session.Track?.Name</p>
                            <h3 class="panel-title"><a asp-page="Session" asp-route-id="@session.ID">@session.Title</a></h3>
                            <p>
                                @foreach (var speaker in session.Speakers)
                                {
                                    <em><a asp-page="Speaker" asp-route-id="@speaker.ID">@speaker.Name</a></em>
                                }
                            </p>
                            <form method="post">
                                <input type="hidden" name="sessionId" value="@session.ID" />
                                <p>
                                    <a authz-policy="Admin" asp-page="/Admin/EditSession" asp-route-id="@session.ID" class="btn btn-default btn-sm">Edit</a>
                                    @if (Model.UserSessions.Contains(session.ID))
                                    {
                                        <button authz="true" type="submit" asp-page-handler="Remove" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
                                    }
                                    else
                                    {
                                        <button authz="true" type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></button>
                                    }
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>